<!-- AXIS-Y STYLED TIMELINE FOR THE BOTTOM OF THE CO-DEVELOPMENT PAGE. 16 JULY 2021 -->

<section class="timelineSection">
  <h2>What's next?</h2>
  <img src="{{ section.settings.image | img_url:  "1440x" }}" alt="{{section.secttings.image.alt | escape}}">
</section>

{% schema %}
{
  "name": {
    "en": "Timeline"
  },
  "class": "index-section",
  "settings": [
      {
      "type": "image_picker",
      "id": "image",
      "label": {
        "en": "Timeline image"
      }
    }
  ]
}
{% endschema %}

