<section class="homePage__videoSection">
    <video autoplay muted loop controls width="100%" >

      <!-- Replace this url with the url of the video uploaded to the "files" area in the Shopify dashboard.   -->
      <source src="https://cdn.shopify.com/s/files/1/0578/0157/2530/files/0812_axisy_3edit.mp4?v=1635256183"/>

    </video>
</section>

<style>
 .homePage__videoSection{
   width: 100%;
   max-width: 1150px;
   margin: 96px auto 128px auto;
 }

 @media (max-width: 748px){
   .homePage__videoSection{
      margin: 0px auto 96px auto;
    }
 }
</style>


{% schema %}
  {
    "name": "Video",
    "class": "index-section video-section",
    "settings": [
        { 
          "type": "text",
          "id": "video_url",
          "label": "Upload video to 'Files' then replace the link in code.",
          "default": "Code > Section > Video"  
        }
    ]
  }
{% endschema %}
