.redBorder {
  border: 1px solid red !important;
}

/* FOOTER NEWSLETTER */


.site-footer__logoSloganDiv{
  /* border: 1px solid red; */
  display: flex; 
  flex-flow: row wrap;
  align-items: center;
  padding: 94px 0 90px 0;
  /* margin-left: 50px; */

}

@media only screen and (max-width: 750px) {
  .site-footer__logoSloganDiv{
  display: flex; 
  flex-flow: column wrap;
  align-items: flex-start;
  padding: 0;

  }
  .site-footer__logoSloganDiv > div:last-child{
  margin: 0px 0 80px 0;
  }
}

.newsletterTitle {
  font-weight: 600;
  font-size: 18px;
  margin: 0 0 16px 0;
}

.site-footer__logo {
  /* padding: 90px 0; */
}

@media only screen and (max-width: 750px) {
  .site-footer__logo {
    padding: 75px 0;
  }
}

.newsletterSubmitBtn {
  font-size: 36px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding-right: 15px;
  font-weight: 100;
}


.newsletterInputField {
  margin-right: -40px;
}


.site-footer__bellowBreakSection {
  padding-bottom: 50px;
  display: flex; 
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 750px) {
  .site-footer__bellowBreakSection {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}
}

/* HEADER */
.mobile-nav--closeIcon {
  position: absolute;
  top: 13px;
  right: 13px;
}

.mobile-nav__regionSelect {
  border: none;
  padding-right: 0;
  font-size: 18px;
}


/* SHOP */
.page-width__store {
  padding-left: 32px;
  padding-right: 32px;
}

@media only screen and (max-width: 749px) {
  .page-width__store {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.shop-header {
  font-size: 56px;
  list-style: 80px;
  font-weight: 500;
} 


.product-card--image{
  /* border: 1px solid blue; */
}

.product-card--image img{
  width: 100%;
  height: 100%;
}

.product-card__subTitle {
  font-size: 14px;
  color: #757575; 
  font-weight: 300;
  line-height: 24px;
  margin: 20px 0;
}


/* PAGE SHOP */
.page-shop__titleSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.page-shop__titleSection > h2 {
 text-align: left; 
}


.page-shop__fiilterButton,
.page-shop__sortButton {
  padding: 10px 35px;
  background: none;
  border-radius: 8px;
  margin-left: 32px;
  /* filter: drop-shadow(0 0 0 #fff); */
  font-size: 18px;
  border: 1px solid black;
}


.page-shop__loadMoreBtn{
  margin: 98px 0 144px 0;
}

.page-shop__loadMoreBtn > a {
  padding: 15px 100px;
  border-radius: 8px;
  background: none;
  border: 1px solid black;
  color: black;
}



/* COLLECTION --- Our Products */ 

.collection__page-width {
  padding-left: 24px;
  padding-right: 24px;
  max-width: 1440px;
  margin: auto;
}

@media only screen and (max-width: 749px) {
  .collection__page-width {
    /* padding-left: 15px;
    padding-right: 15px; */
    padding-left: 0px;
    padding-right: 0px;
  }
}

.collection__headerSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.collection__headerSection  h1 {
 text-align: left; 
 font-size: 80px;
}

@media only screen and (max-width: 749px) {
  .collection__headerSection{
    margin-bottom: 32px;
  }

 .collection__headerSection  h1 {
  font-size: 32px;
  margin-bottom: 36px;
  padding: 0 15px; 
  }
}

.collection__filterButton{
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px 40px;
  text-align: center;
  display: inline-block;
  margin: 0;
}


.collection__filterWindow{
  /* width: 500px;
  height: 500px; */
  background: grey;
  /* position: absolute; */
  /* top:0;
  left: 0; */
  z-index: 13;
}

.collection__sortButton{
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px 40px;
  text-align: center;
  margin-left: 32px;
}

@media only screen and (max-width: 749px) {
 .collection__filterButton, .collection__sortButton {
    /* width: auto; */
    padding: auto;
    flex-grow: 1;
  }
  .collection__sortButton{
    margin-left: 13px;
  }
}


.collection__grid{
  /* border: 1px solid green; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media only screen and (max-width: 749px) {
  .collection__grid{
    grid-template-columns: 1fr 1fr;
    grid-gap: 7px;
  }

}

.product-card__textDetailsDiv{
  /* border: 1px solid yellow; */
  margin: 20px 0 0 0 ;
}

@media only screen and (max-width: 749px) {
  .product-card__textDetailsDiv{
    margin: 20px 12px 0 12px ;
  }
}



/* PRODUCT PAGE  */

.product-single_heroSection {
  width: 100%;
}

.product-single_heroSection--wrapper {
   max-width: 1440px; 
   margin: auto; 
   min-height: 500px; 
   display: flex; 
   flex-flow: row nowrap;
}

.product-single_heroSection--wrapper > div {
  width: 50%;
  margin: auto;
}

.product-single__thumbnails {
  width: 100%; 
  display: flex; 
  flex-flow: row nowrap; 
  justify-content: space-between;
}

.product-single__thumbnails img {
  padding: 0 4px;
}

.product-single__formArea{
  max-width: 500px; 
  margin: auto;
  padding: 0 16px;
}

.product-single__formArea h1{
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}

.product-single__formArea--subTitle{
  font-size: 18px;
  color: #757575; 
  font-weight: 300;
  line-height: 28px;
  margin: 20px 0;
}

.product-single__formArea--price{
  font-size: 18px;
  color: black; 
  font-weight: 600;
  line-height: 28px;
  margin: 20px 0;
}

.product-page__bellowPriceHR{
  border: 1px solid #E5E1E6;
  margin: 32px 0;
}

.product-single__formArea h4{
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

/* .product-single__infoDiv {
  border: 1px solid green;
  margin: auto;
  max-width: 500px;
} */

/* The container */
.product-single__formArea--variantContainer {
  display: inline-block;
  position: relative;
  padding: 0 36px 0 0px;
  margin: 10px 0  0 ;
}

.product-single__formArea--variantContainer input[type='radio'] {
  display: none;
}

.product-single__formArea--variantContainer label {
  color: black;
  font-weight: normal;
}

.product-single__formArea--variantContainer label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 6px;
  margin: 0 20px 0 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: transparent;
}

.product-single__formArea--variantContainer input[type=radio]:checked + label:after {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 4px;
  content: " ";
  display: block;
  background: black;
}
/* ------- */



.product-single__formArea--submitButtons{
  /* border: 1px solid red; */
  margin: 38px 0 0 0;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
}

.product-single__formArea--quantityContainer{
  width: 30%;
}

.product-single__formArea--quantityContainer input{
  /* border: 1px solid green; */
  text-align: center;
  padding: 18px;
  border-radius: 8px;
  font-size: 18px;
}

.product-single__formArea button{
  /* border: 1px solid green; */
  border: none;
  background-color: #008554;
  color: white;
  border-radius: 8px;
  /* padding: 18px; */
  width: 70%;
  font-size: 18px;
  margin-left: 16px;
}

.product-single__formArea button > span:nth-child(2){
 margin: 0 24px;
}

.product-single__skinTypes{
  display: flex;
  flex-flow: row nowrap;
  margin: 120px 0 0 0 ;
}

.product-single__description {
  padding: 30px 80px 30px 80px;
  width: 50%;
}

.product-single__description > h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 20px;
}

.product-single__description > h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 8px 0;
}


.product-single__description > p {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  margin: 0px;
}

.product-single__description > hr {
  border: 1px solid #E5E1E6;
  margin: 32px 0;
}

.product-single__skinTypes{
  max-width: 1440px;
  margin: 120px auto 128px auto;
}

.product-single__skinTypes--image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 64px 0 50px;
}

/* 6+1+1 SECTION */
.product-single__611section{
  max-width: 1440px;
  min-height: 300px;
  margin:auto;
  background-color: #CEDFD7;
  display: flex;
  flex-flow: row nowrap;
}

.product-single__611section--image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 62px 64px;
}

.product-single__611section--image img{
  width: 100%
}

.product-single__611section--info{
    width: 50%;
    margin: auto 0;
}

.product-single__611section--info p:nth-child(1){
    font-size: 56px;
    line-height: 80px;
    font-weight: 600;
    margin: 0;
}
.product-single__611section--info p:nth-child(2){
    font-size: 56px;
    line-height: 80px;
    font-weight: 200;
    font-family: Restora;
    font-style: italic;
    margin: 0;
    margin-bottom: 32px;
}
.product-single__611section--info p:nth-child(3){
    margin: 0 80px 0 0 ;
    margin-bottom: 32px;
}

/* INGREDIENTS SECTOIN */
.product-single__ingredientsSection{
  padding: 120px 82px;
  max-width: 1440px;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
}

.product-single__ingredientsSection h1{
  font-size: 32px;
  line-height: 48px;
  font-weight: 600px;
  margin: 0 0 40px 0;
}

.product-single__ingredientsSection--card{
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  margin: 0 0 64px 0;
}

.product-single__ingredientsSection--card img{
  width: 64px;
  height: 64px;
  background-color: grey;
  margin: 0 24px 0 0;
  border-radius: 8px;
}

.product-single__ingredientsSection--image{
  width: 64px;
  height: 64px;
  background-color: grey;
  margin: 0 24px 0 0;
  border-radius: 8px;
}

.product-single__ingredientsSection--card p{
   margin: 0;
   padding-right: 64px;
} 

.product-single__ingredientsSection--card p:nth-child(2){
   font-size: 16px;
   color: #757575;
   margin-top: 8px;
} 

.product-single__ingredientsSection--specialSection{
  margin-top: 48px;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
}


.width50 {
  width: 50%
}

.width100 {
  width: 100%
}

.product-single__ingredientsSection--seeMore {
  background: none;
  border: 1px solid black;
  border-radius: 8px;
  padding: 18px 24px;
  display: flex; 
  flex-flow: row nowrap;
}

.product-single__ingredientsSection--seeMore span{
  margin-left: 100px;
}

/* HOW TO USE SECTION */
.product-single__howToSection{
  /* border: 1px solid red; */
  margin: auto;
  padding: 0 80px 120px 80px;
  max-width: 1440px;
}

.product-single__howToSection h1{
  font-size: 32px;
  line-height: 48px;
  font-weight: 600px;
  margin: 0 0 40px 0;
  width: 100%;
}

.product-single__howToSection--cards {
  /* border: 1px solid green; */
  display: flex;
  flex-flow: row nowrap;
}

.product-single__howToSection--card {
  /* border: 1px solid red; */
  margin-right: 64px;
}

.product-single__howToSection--card img{
  width: 100%;
}

.product-single__howToSection--card:last-child {
  margin-right: 0;
}

.product-single__howToSection--card p:nth-child(3){
  font-size: 16px;
  color: #757575;
  margin-top: 12px;
}