.redBorder {
  border: 1px solid red !important;
}

/* FOOTER NEWSLETTER */
.newsletterTitle {
  font-weight: 600;
  font-size: 18px;
  margin: 0 0 16px 0;
}

.site-footer__logo {
  padding: 90px 0;
}

@media only screen and (max-width: 750px) {
  .site-footer__logo {
    padding: 75px 0;
  }
}

.newsletterSubmitBtn {
  font-size: 36px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding-right: 15px;
  font-weight: 100;
}

.newsletterInputField {
  margin-right: -40px;
}

@media (max-width: 750px) {
  .newsletterInputField {
    /* margin-bottom: 64px;
    padding-bottom: 20px; */
  }
}

.site-footer__bellowBreakSection {
  margin-bottom: 56px;
}

.site-footer__bellowBreakSection > div:last-child {
  margin-top: 30px;
}

.site-footer__bellowBreakSection p {
  margin: 0;
}

@media only screen and (min-width: 750px) {
  .site-footer__bellowBreakSection {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .site-footer__bellowBreakSection > div:last-child {
    margin: 0;
  }

  .site-footer__bellowBreakSection p {
    margin: 0;
  }
}

/* HEADER */

.mobile-nav--closeIcon {
  position: absolute;
  top: 13px;
  right: 13px;

  /* border: 1px solid red; */
  /* z-index: 12; */
}

/* html,
body {
  overflow: hidden;
} */
/* 
.mobile-nav__regionSelect {
  display: block;
  bottom: 0;
}

.mobile-nav__regionSelect > label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
}

#regionCheckbox:checked ~ .mobile-nav__regionSelect--subMenu {
  max-height: 300px;
  visibility: visible;
  bottom: 100%;
  transition: all 0.4s linear;
}

#regionCheckbox {
  display: none;
}

.mobile-nav__regionSelect--subMenu {
  display: block;
  visibility: hidden;
  position: absolute;
  left: 0;
  box-shadow: none;
  max-height: 0;
  width: 150px;

  overflow: hidden;
}

.mobile-nav__regionSelect--subMenu > option {
  display: block;
} */

.mobile-nav__regionSelect {
  border: none;
  padding-right: 0;
  font-size: 18px;
}
