.redBorder {
  border: 1px solid red !important;
}

/* FOOTER NEWSLETTER */


.site-footer__logoSloganDiv{
  /* border: 1px solid red; */
  display: flex; 
  flex-flow: row wrap;
  align-items: center;
  padding: 94px 0 90px 0;
  /* margin-left: 50px; */

}

@media only screen and (max-width: 750px) {
  .site-footer__logoSloganDiv{
  display: flex; 
  flex-flow: column wrap;
  align-items: flex-start;
  padding: 0;

  }
  .site-footer__logoSloganDiv > div:last-child{
  margin: 0px 0 80px 0;
  }
}

.newsletterTitle {
  font-weight: 600;
  font-size: 18px;
  margin: 0 0 16px 0;
}

.site-footer__logo {
  /* padding: 90px 0; */
}

@media only screen and (max-width: 750px) {
  .site-footer__logo {
    padding: 75px 0;
  }
}

.newsletterSubmitBtn {
  font-size: 36px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding-right: 15px;
  font-weight: 100;
}


.newsletterInputField {
  margin-right: -40px;
}


.site-footer__bellowBreakSection {
  padding-bottom: 50px;
  display: flex; 
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 750px) {
  .site-footer__bellowBreakSection {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}
}

/* HEADER */
.mobile-nav--closeIcon {
  position: absolute;
  top: 13px;
  right: 13px;
}

.mobile-nav__regionSelect {
  border: none;
  padding-right: 0;
  font-size: 18px;
}


/* SHOP */
.page-width__store {
  padding-left: 32px;
  padding-right: 32px;
}

@media only screen and (max-width: 749px) {
  .page-width__store {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.shop-header {
  font-size: 56px;
  list-style: 80px;
  font-weight: 500;
} 

.product-card__subTitle {
  font-size: 14px;
  color: #757575; 
  font-weight: 300;
  line-height: 24px;
  margin: 20px 0;
}


/* PAGE SHOP */
.page-shop__titleSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.page-shop__titleSection > h2 {
 text-align: left; 
}


.page-shop__fiilterButton,
.page-shop__sortButton {
  padding: 10px 35px;
  background: none;
  border-radius: 8px;
  margin-left: 32px;
  /* filter: drop-shadow(0 0 0 #fff); */
  font-size: 18px;
  border: 1px solid black;
}


.page-shop__loadMoreBtn{
  margin: 98px 0 144px 0;
}

.page-shop__loadMoreBtn > a {
  padding: 15px 100px;
  border-radius: 8px;
  background: none;
  border: 1px solid black;
  color: black;
}



/* COLLECTION --- Our Products */ 

.collection__page-width {
  padding-left: 24px;
  padding-right: 24px;
  max-width: 1440px;
  margin: auto;
}

@media only screen and (max-width: 749px) {
  .collection__page-width {
    /* padding-left: 15px;
    padding-right: 15px; */
    padding-left: 0px;
    padding-right: 0px;
  }
}

.collection__headerSection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.collection__headerSection  h1 {
 text-align: left; 
 font-size: 80px;
}

@media only screen and (max-width: 749px) {
  .collection__headerSection{
    margin-bottom: 32px;
  }

 .collection__headerSection  h1 {
  font-size: 32px;
  margin-bottom: 36px;
  padding: 0 15px; 
  }
}

.collection__filterButton{
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px 40px;
  text-align: center;
  display: inline-block;
  margin: 0;
}


.collection__filterWindow{
  /* width: 500px;
  height: 500px; */
  background: grey;
  /* position: absolute; */
  /* top:0;
  left: 0; */
  z-index: 13;
}

.collection__sortButton{
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px 40px;
  text-align: center;
  margin-left: 32px;
}

@media only screen and (max-width: 749px) {
 .collection__filterButton, .collection__sortButton {
    /* width: auto; */
    padding: auto;
    flex-grow: 1;
  }
  .collection__sortButton{
    margin-left: 13px;
  }
}


.collection__grid{
  /* border: 1px solid green; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media only screen and (max-width: 749px) {
  .collection__grid{
    grid-template-columns: 1fr 1fr;
    grid-gap: 7px;
  }

}

.product-card__textDetailsDiv{
  /* border: 1px solid yellow; */
  margin: 20px 0 0 0 ;
}

@media only screen and (max-width: 749px) {
  .product-card__textDetailsDiv{
    margin: 20px 12px 0 12px ;
  }
}



/* PRODUCT PAGE  */

.product-price__vendor {
  font-size: 18px;
  color: #757575; 
  font-weight: 300;
  line-height: 28px;
  margin: 20px 0;
}

.product-page__bellowPriceHR{
  border: 1px solid #E5E1E6;
  margin: 32px 0;
}

.product-single__infoDiv {
  border: 1px solid green;
  margin: auto;
  max-width: 500px;
}




.product-single__skinTypes{
  display: flex;
  flex-flow: row nowrap;
  margin: 120px 0 0 0 ;
}

.product-single__description {
  padding: 30px 80px 30px 80px;
  width: 50%;
}

.product-single__description > h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 20px;
}

.product-single__description > h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 8px 0;
}


.product-single__description > p {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  margin: 0px;
}

.product-single__description > hr {
  border: 1px solid #E5E1E6;
  margin: 32px 0;
}

.product-single__skinTypes{
  max-width: 1440px;
  margin: 120px auto 128px auto;
}

.product-single__skinTypes--image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 64px 0 0;
}

/* 6+1+1 SECTION */
.product-single__611section{
  max-width: 1440px;
  min-height: 300px;
  margin:auto;
  background-color: #CEDFD7;
  display: flex;
  flex-flow: row nowrap;
}

.product-single__611section--image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 62px 64px;
    /* border: 1px solid red; */
}

.product-single__611section--image img{
  width: 100%
}

.product-single__611section--info{
    width: 50%;
    /* border: 1px solid red; */
    margin: auto 0;
}

.product-single__611section--info p:nth-child(1){
    font-size: 56px;
    line-height: 80px;
    font-weight: 600;
    margin: 0;
}
.product-single__611section--info p:nth-child(2){
    font-size: 56px;
    line-height: 80px;
    font-weight: 200;
    font-family: Restora;
    font-style: italic;
    margin: 0;
    margin-bottom: 32px;
}
.product-single__611section--info p:nth-child(3){
    margin: 0 80px 0 0 ;
    margin-bottom: 32px;
}