{% render 'shogun-products', content: page %}
<section class="whereToBuy-page">
  <section class="richTextSection">
    <h1 >{{ page.title }}</h1>
    {{ page.content }}
  </section>
</section>

<style>
   .whereToBuy-page h1 {
    text-align: left;
  }

  .whereToBuy-page a {
    padding-left: 32px;
  }
  
</style>
