<section class="codev-page">

  {% section "hero-codev" %} 


  <!-- <section class="codev-page__heroSection">
    <img src="{{ "codevHero.png" | asset_img_url: "1440x"}}" alt="Hero image" }}">
    <h1>Made for me</h1>
    <h2>by me</h2>
  </section> -->

  <section class="richTextSection">
    <h2>A line made for and by the community</h2>
    <p>At AXIS-Y, we have always been focused on developing and adjusting our products based off of feedback from our community. We wanted to take it a step even further, however, by launching an entire line created by our community. Through a series of surveys, polls, and sampling by members of our community, we were able to create our new line: AXIS-Y & Me.</p>
  
    <br/>
    <br/>
    <br/>

    <h2>Core values</h2>
    <p>No one knows my skin and my community better than me. That’s why we want to come together to create something special for ‘me’ and ‘my community’.</p>
    <p>Skincare made for me by me.</p>
  </section>

  <section class="codev-page__1000participants">
    <div class="codev-page__1000participants--wrapper">
      <h1>
        <span class="codev-page__1000participants--heading1">Over 1000 participants</span>
        <span class="codev-page__1000participants--heading2">from 68 countries</span>
      </h1>
      <div class="codev-page__1000participants--imageWrapper">
        <!-- <img src="{{ "codevHero.png" | asset_img_url: "450x"}}" alt="Hero image"> -->
      </div>
    </div>
  </section>

  <section class="richTextSection">
    <p>We started by releasing an open survey where we asked questions about our community's skin types, skin concerns, favorite and least favorite ingredients, ideal packaging, and more! From those results, we got started on formulating the products we thought would match perfectly. </p>
  </section>

  <section class="codev-page__bigImage">
    <div class="codev-page__bigImage--wrapper">
      <div class="codev-page__bigImage--image">    
            <img src="{{ "codev_featuredImage.jpg" | asset_img_url: "1440x"}}" alt="Hero image">
      </div>
      <!-- <p> 
        <label>Above</label>
        We are collaborating with our community to make a new line for and by you
      </p> -->
    </div>
  </section>

  {% section "influencers" %}

  <section class="richTextSection">
    <p>Fifty winners picked from our survey respondents became our new samplers. Throughout the next months, we will send our samples to them to review, provide feedback, and help us perfect our new line.</p>
  </section>


  {% section "contributors" %}


  <hr class="codev-page__hr"/>

  {% section "timeline" %}




</section>
