<section class="about-page">
  {% section "hero-about" %}

  <section class="richTextSection">
    <h2>Climate inspired</h2>
    <p>
      Our skin experiences an ever -growing complex environment influenced by
      growing pollution, stressors, and climate change.
    </p>
    <br />
    <p>
      In addition, with the rise of traveling, more people have realized the
      unique skin concerns arising by their climate and the need for more
      personalized skincare. As the first creators of climate- inspired
      skincare, we seek to deliver this higher level of personalized care for
      our global community.
    </p>

    <br />
    <br />
    <br />

    <h2>Community focused</h2>
    <p>
      AXIS-Y is beyond Clean Beauty. We are inclusive and free-spirited, simple
      but packed with personality. We are young but mature; we are cool but
      approachable; we are a community that brings value and positive vibes to
      the individual.
    </p>
    <br />
    <p>
      At AXIS-Y, beauty is not about following a certain standard, beauty is
      your ultimate values, your uniqueness, your passion and your story.
    </p>
    <br />
    <br />
    <br />

    <h2>Self-care encouraged</h2>
    <p>
      At AXIS-Y, we are always reading everyone’s responses and we’ve so moved
      by your experiences and journey of self-discovery and being more confident
      in your pursuits of your dreams. That’s what it’s all about.
    </p>
    <br />
    <p>
      Learning about ourselves, caring for ourselves, and loving ourselves
      through all the ups and downs no matter what. It’s not easy, but it’s
      worth it, because you deserve it. You deserve to walk with your head up
      high wherever your heart desires.
    </p>
    <p>
      Skincare can be difficult. Skin types, climates, ingredients, diet and
      lifestyle all play a role. There’s a lot to learn about yourself and how
      to care for your skin. But you’re not alone. We’re here to help.
    </p>
    <br />
    <br />
    <br />
  </section>

  <section class="codev-page__bigImage">
    <div class="codev-page__bigImage--wrapper">
      <div class="codev-page__bigImage--image">
        <img src="{{ "codevHero.png" | asset_img_url: "1440x" }}" alt="Hero
        image">
      </div>
      <p>
        <label>Above</label>
        A photo of our team
      </p>
    </div>
  </section>

  <section class="richTextSection">
    <h2>Vegan & cruelty free</h2>
    <h3>Natural, skin-loving ingredients</h3>
    <p>
      At AXIS-Y we are determined to create clean, natural formulations. Our
      products are paraben-free, artificial oil, mineral oil, artificial
      fragrance-free, and derived from natural ingredients.
    </p>
    <br />
    <p>
      AXIS-Y is committed to using the safest and most natural ingredients to
      provide our community with the highest quality clean beauty.
    </p>
    <br />
    <p>
      You and your skin deserve only the best. That’s why we always take into
      consideration which ingredients can be harmful to your skin and keep them
      out of our skincare. The table below shows a comprehensive list of
      ingredients determined by K-beauty standards to be avoided.
    </p>
    <br />
    <p>You won’t find any of these ingredients in our products:</p>

    <section class="about-page__harmfulTableSection">
      <ul>
        <li>BHT / BHA (Butylated hydroxyanisole)</li>
        <li>Mineral oil</li>
        <li>SLS</li>
        <li>Butyl methoxydibenzoylmethane</li>
        <li>Benzo phenone-3</li>
        <li>Imidazolidnyl urea</li>
        <li>O-CYMEN-5-OL</li>
        <li>Isopropyl alcohol</li>
        <li>Artifical fragrance</li>
        <li>Thymol</li>
        <li>Triethanolamine</li>
        <li>Parabens</li>
        <li>Phenoxyethanol</li>
        <li>Composite pigment</li>
        <li>Hormones</li>
      </ul>
    </section>
  </section>

  <!-- <section class="about-page__harmfulTableSection">
    <table>
      <tr>
        <th>Substance</th>
        <th>Harmfulness Rating*</th>
      </tr>
      <tr>
        <td>Paraben</td>
        <td>5-8</td>
      </tr>
      <tr>
        <td>Phenoxyethanol</td>
        <td>2-4</td>
      </tr>
       <tr>
        <td>Fragrance</td>
        <td>9</td>
      </tr>
       <tr>
        <td>Oxybenzone</td>
        <td>8</td>
      </tr>
       <tr>
        <td>Mineral Oil</td>
        <td>1-3</td>
      </tr>
       <tr>
        <td>Talc</td>
        <td>1-5</td>
      </tr>
       <tr>
        <td>Heavy Metals</td>
        <td>10</td>
      </tr>
       <tr>
        <td>Carbon Black</td>
        <td>3-6</td>
      </tr>
       <tr>
        <td>Microbeads</td>
        <td></td>
      </tr>
       <tr>
        <td>Animal Derived products</td>
        <td></td>
      </tr>
    </table>
    <label>*Where applicable</label>
  </section> -->

  <section class="richTextSection">
    <h3>Safety</h3>
    <p>
      At AXIS-Y we value the safety of our community and ensure our products
      meet the highest safety standards. Each of our products undergoes a
      multiple stage trial process throughout formulation and a certified
      dermatological test before release by the Korea Dermatology Research
      Institute (KDRI).
    </p>

    <div>Image</div>
    <br />
    <br />
    <br />

    <h3>A commitment against animal testing</h3>
    <p>
      We never have and never will test on animals at any stage in our
      formulation process. We are committed to producing the best, high quality
      products without ever using our products on animals, or animal-derived
      ingredients in our products.
    </p>
    <br />
    <br />
    <br />

    <h3>Vegan certification</h3>
    <p>
      AXIS-Y is a vegan-certified brand by the Korean Vegan Association. We are
      committed to only using plant-derived ingredients in our products.
    </p>
    <br />
    <p><a href="">Click here</a> to view our certification.</p>
    <br />
    <br />
    <br />

    <h3>Effective</h3>

    <img src="{{ "trademark611__image.png" | asset_img_url: "900x" }}"
    alt="trademark 6+1+1 image" class="trademark611__image">
    <!-- <p>6+1+1 Advanced Formula</p> -->
    <br />
    <br />

    <strong>Selected 6 Nutrient-Rich, Natural Ingredients</strong>
    <p>
      We carefully select plant extracts that are healthy and deliver benefits
      for skin according to the type of climate
    </p>
    <br />
    <strong>1 Functional - Goal-Oriented Agent</strong>
    <p>
      We use one functional ingredient to solve the targeted skin problem safely
      and effectively
    </p>
    <br />
    <strong>1 Quality-Producing Skincare Technology</strong>
    <p>
      We incorporate expertise in manufacturing to quality deliver ingredients
      and results
    </p>
  </section>
</section>
